.button.button_color_transparent {
    background: transparent;
    color: #7e8bae;
    width: 172px;
    letter-spacing: 2.2px;
    font-weight: 500;
    border: 1.5px solid #dce1e5;
    line-height: 5.1;
}