<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Limpon
    body
        include ./blocks/button/button.pug
        .container     
            header(class="header")
                .header__logo Limpon
                nav(class="header__nav")
                    - let elementsOfNav = ['home', 'features', 'video', 'screens', 'pricing', 'team']
                    each val in elementsOfNav
                        a(href="#")=val
                .header__link
                    +btn({text: "free trail", size: "medium"})

            .content
                h2(class="content__title") Best software landingpage
                .content__links
                    +btn({text: "get started now"})
                    +btn({text: "learn more", color: "gray"})    

        