//- link(href="./form-subscription.scss")

.form-subscription
    span.subscription__subtitle Subscribe
    p.subscription__title Signup For A Trail
    p.subscription__description Create your free account now & get 30 days free trail No credit card required
    form.subscription__field
        input.subscription__email(type="email" placeholder="Enter your email address" size="30" required) 
        button.subscription__btn subscribe 
        